<main>
    <section class="modal-body">
        <h2>Create new room</h2>
        <p>Enter a room name</p>
        <div ng-controller="ModalCtrl as modal">
            <form>
                <input type="text" ng-model="modal.newChatRoom.$value">
                <br>
                <button ng-click="modal.cancel()">Cancel</button>            
                <input type="submit" value="Create room" ng-click="modal.createNewRoom()">             
            </form>
        </div>           
    </section>
</main>


